.loader {
    border: 10px solid #9eebcf; /* Light grey */
    border-top: 10px solid #ff41b4; /* Blue */
    border-radius: 50%;
    width: 36px;
    height: 36px;
    animation: spin 1s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}